.App{
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading{
    border-bottom: 5px solid tomato;
    border-radius: 10px;
    margin: 10px;
}

input{
    min-width: 500px;
    padding: 5px;
    font-size: 1.3rem;
    background-color: #1d1f20;
    color: white;
    border: none;
    border: 1px solid silver;
}

input:focus{
    border: none;
}
.button{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}